dist/build/Data/Yaml/Serializable.hi
dist/build/Data/Yaml/Serializable.o
dist/build/HSyamal-serializable-1.0.o
dist/build/autogen/Paths_yamal_serializable.hs
dist/build/autogen/cabal_macros.h
dist/build/libHSyamal-serializable-1.0.a
dist/installed-pkg-config
dist/setup-config